.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
  height: 1000px;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", Arial !important;
  background-color: #000000;
  background-image: url("../../images/milky-way.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #cfcfcf;
}
