.searchform__input {
  min-width: 220px;
  border: #ffffff;
  border-radius: 30px;
  border: #ffffff;
  padding-left: 8px;
}

.searchform__input:focus {
  outline: none;
}

.searchform__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media screen and (min-width: 550px) {
  .header {
    padding: 28px;
  }
}

@media screen and (min-width: 920px) {
  .header {
    max-width: 880px;
  }
}
