.searchform__input {
  width: 100%;
  border: #ffffff;
  border-radius: 30px;
  border: #ffffff;
  padding-left: 8px;
}

.searchform__input:focus {
  outline: none;
}

.searchform__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
