.searchform {
  margin: 36px auto;
  padding-left: 8px;
  height: 64px;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  border: 1px;
  border-radius: 100px;
  background-color: #ffffff;
}

@media screen and (min-width: 550px) {
  .searchform {
    margin: 48px auto 0;
    max-width: 500px;
  }
}

@media screen and (min-width: 920px) {
  .searchform {
    max-width: 880px;
  }
}
