.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #f5f6f7;
  background-repeat: no-repeat;
  background-size: cover;
  color: #cfcfcf;
}
