.details {
  margin: 60px auto;

  max-width: 320px;
  background-color: orangered;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 550px) {
  .details {
    max-width: 500px;
  }
}

@media screen and (min-width: 920px) {
  .details {
    max-width: 880px;
    gap: 20px;
  }
}
