.details {
  margin: 60px auto;
  padding-bottom: 20px;
  border: 2px solid #443e3c;
  max-width: 320px;
  background-color: #eeeceb;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 550px) {
  .details {
    max-width: 500px;
  }
}

@media screen and (min-width: 920px) {
  .details {
    max-width: 880px;
  }
}
